In [18]:
# Load libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [41]:
col_names = ['pregnant', 'glucose', 'bp', 'skin', 'insulin', 'bmi', 'pedigree', 'age', 'label']
# load dataset
pima = pd.read_csv("pima-indians-diabetes.csv", header=None, names=col_names)

In [42]:
pima.head()

,pregnant,glucose,bp,skin,insulin,bmi,pedigree,age,label
0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,6,148,72,35,0,33.6,0.627,50,1
2,1,85,66,29,0,26.6,0.351,31,0
3,8,183,64,0,0,23.3,0.672,32,1
4,1,89,66,23,94,28.1,0.167,21,0

In [49]:
# Select the species and plot columns from the DataFrame
df = pima[['pregnant', 'label']]
# df.loc[df['pregnant'] == "6"]
# df.loc[df['label'] == "1"]

# df.loc[(df['pregnant'] == "6") & (df['label'] == "1")]

    pregnant label
1          6     1
166        6     1
171        6     1
172        6     1
232        6     1
244        6     1
320        6     1
367        6     1
503        6     1
561        6     1
643        6     1
665        6     1
676        6     1
702        6     1
750        6     1
760        6     1

In [4]:
# split dataset in features and target variable
feature_cols = ['pregnant', 'insulin', 'bmi', 'age','glucose','bp','pedigree']
X = pima[feature_cols] # Features
y = pima.label # Target variable

In [5]:
# Split dataset into training set and test set
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training and 30% test

In [52]:
# Calc entropy considering binary classification
import math

def _calc_entropy(data, feature_name, target_name):
    data = pima[[feature_name, target_name]]
    target_vals = data[target_name].unique()
    feature_vals = data[feature_name].unique()
    
    num_samples = len(data)
    for feature in feature_vals:
        feature_df1 = data.loc[(data[feature_name] == feature) & (data[target_name] == target_vals[0])]
        feature_prob1 = len(feature_df1)/len(data[feature])
        
        feature_df2 = data.loc[(data[feature_name] == feature) & (data[target_name] == target_vals[1])]
        feature_prob2 = len(feature_df2)/len(data[feature])
        
        entropy = (-feature_prob1 * math.log(feature_prob1,2)) + (-feature_prob2 * math.log(feature_prob2, 2))
        
    return entropy

In [ ]:
def _information_gain(target_val, feature):